<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/headerImport :: header"></div>
    <title>PoliComShop - SignIn</title>
    <style>
        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }

        .h-custom {
            height: calc(100% - 73px);
        }

        @media (max-width: 450px) {
            .h-custom {
                height: 100%;
            }
        }
    </style>
</head>
<body>
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img alt="Sample image"
                     class="img-fluid"
                     src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form action="SignIn" method="post">

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Sign in</p>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input class="form-control form-control-lg" id="email" name="email"
                               placeholder="Enter a valid email address"
                               type="email"/>
                        <label class="form-label" for="email">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input class="form-control form-control-lg" id="password" name="password"
                               placeholder="Enter password"
                               type="password"/>
                        <label class="form-label" for="password">Password</label>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"
                                type="submit">Login
                        </button>
                    </div>
                </form>
                <p class="text-danger" th:text="${errorMsg}"></p>
            </div>
        </div>
    </div>
</section>

</body>
</html>