<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(51, 102, 255, 0.6)" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" th:href="@{/}"><img src="images/logo.png" alt="" width="200"></a>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" th:unless="${user!=null}">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/SignIn}"><span style="color: white"><b>Login</b></span></a>
                    </li>
                </ul>
                <ul class="navbar-nav" th:if="${user!=null}">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Logout}"><span style="color: white">Logout</span></a>
                    </li>
                    <button class="btn btn-secondary" type="button"
                            th:text="${user.getUsername()}">
                        Username
                    </button>
                </ul>
            </div>
        </div>
    </div>
</nav>

