<!DOCTYPE html>
<html lang="en"
      th:lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta tag required for boostrap -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          rel="stylesheet">

    <title>PoliComShop - Employee Home</title>
</head>
<body>
<section class="vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light"
         th:replace="fragments/navbar :: navbar">
    </nav>
    <div class="container-fluid h-auto w-75">
        <h1 style="margin-bottom: 20px; margin-top: 20px">Create a service Package</h1>
        <form method="post" th:action="@{/CreateServicePackage}">
            <div class="form-group" style="margin-bottom: 20px">
                <label for="spName">Package Name</label>
                <input class="form-control" id="spName" name="spName" placeholder="Enter package name" type="text">
            </div>
            <div class="form-group" style="margin-bottom: 20px">
                <label for="validityPeriod">Validity period and fee</label>
                <input class="form-control" id="validityPeriod" name="validityPeriodAndFees"
                       placeholder="mm:fee, 36:6, ..." type="text">
                <small>Legend: insert values as durationInMoths:MonthlyFee, ...</small>
            </div>
            <div th:if="${fixedInternet.size() > 0 || mobileInternet.size() > 0 || mobilePhone.size() > 0 || fixedPhone != null }">
                <span>Choose services to add</span>
                <div class="container" style="margin-top: 20px" th:if="${fixedInternet.size() > 0}">
                    <fieldset id="fixedInternetRadio">
                        <div class="row w-100">
                            <div class="card w-auto" style="margin-left: 10px; margin-right: 10px"
                                 th:each="s : ${fixedInternet}">
                                <div class="card-body">
                                    <div class="form-check">
                                        <b style="font-size: 20px">Fixed Internet</b>
                                        <input class="form-check-input" name="fixedInternetRadio"
                                               th:id="'service'+${s.getId()}"
                                               th:value="${s.getId()}" type="radio">
                                    </div>
                                    <div>
                                        <span th:text="${s.getnGigabytes() + ' '}">10</span><span>GB</span>
                                        <span> - </span>
                                        <span th:text="${s.getFeeGigabytes() + ' '}">10</span><span>&euro;/GB fee</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                </div>

                <div class="container" style="margin-top: 20px" th:if="${mobileInternet.size() > 0}">
                    <fieldset id="mobileInternetRadio">
                        <div class="row">
                            <div class="card w-auto" style="margin-left: 10px; margin-right: 10px"
                                 th:each="s : ${mobileInternet}">
                                <div class="card-body">
                                    <div class="form-check">
                                        <b style="font-size: 20px">Mobile Internet</b>
                                        <input class="form-check-input" name="mobileInternetRadio"
                                               th:id="'mobileInternet'+${s.getId()}"
                                               th:value="${s.getId()}" type="radio">
                                    </div>
                                    <div>
                                        <span th:text="${s.getnGigabytes() + ' '}">10</span><span>GB</span>
                                        <span> - </span>
                                        <span th:text="${s.getFeeGigabytes() + ' '}">10</span><span>&euro;/GB</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                </div>


                <div class="container" style="margin-top: 20px" th:if="${mobilePhone.size() > 0}">
                    <fieldset id="mobilePhoneRadio">
                        <div class="row">
                            <div class="card w-auto" style="margin-left: 10px; margin-right: 10px"
                                 th:each="s : ${mobilePhone}">
                                <div class="card-body">
                                    <div class="form-check">
                                        <b style="font-size: 20px">Mobile Phone</b>
                                        <input class="form-check-input" name="mobilePhoneRadio"
                                               th:id="'MobilePhone'+${s.getId()}"
                                               th:value="${s.getId()}" type="radio">
                                    </div>
                                    <div>
                                        <span th:text="${s.getnMinutes() + ' '}">10</span><span>minutes</span>
                                        <span> - </span>
                                        <span th:text="${s.getFeeMinutes() + ' '}">10</span><span>&euro;/minute</span>
                                    </div>
                                    <div>
                                        <span th:text="${s.getnSms() + ' '}">10</span><span>SMS</span>
                                        <span> - </span>
                                        <span th:text="${s.getFeeSms() + ' '}">10</span><span>&euro;/SMS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                </div>


                <div class="container" style="margin-top: 20px" th:if="${fixedPhone != null}">
                    <fieldset id="fixedPhoneRadio">
                        <div class="row">
                            <div class="card w-auto" style="margin-left: 10px; margin-right: 10px">
                                <div class="card-body">
                                    <div class="form-check">
                                        <b style="font-size: 20px">Fixed Phone</b>
                                        <input class="form-check-input" name="fixedPhoneRadio"
                                               th:id="'fixedPhone'+${fixedPhone.getId()}"
                                               th:value="${fixedPhone.getId()}" type="radio">
                                    </div>
                                    <div>
                                        <span>Unlimited minutes</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                </div>


            </div>


            <div th:if="${optionalProducts.size() > 0 }">
                <span>Choose the optional products to add</span>


                <div class="container" style="margin-top: 20px">
                    <div class="row">
                        <div class="card w-auto" style="margin-left: 10px; margin-right: 10px"
                             th:each="optProd : ${optionalProducts}">
                            <div class="card-body">
                                <input name="opProd" style="width: 20px; height: 20px"
                                       th:id="'optProd' + ${optProd.getId()}" th:value="${optProd.getId()}"
                                       type="checkbox">
                                <b style="font-size: 20px" th:text="${optProd.getName()}">Optional product name</b>
                                <span th:text="${optProd.getMonthlyFee() + ' '}">10</span><span>&euro;/month</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem; margin-top: 20px"
                    type="submit">Create Service Package
            </button>
            <hr>
        </form>
        <div style="margin-top: 20px" th:unless="${errorMesSp == null }">
            <div class="alert alert-danger" role="alert">
                <h6 class="alert-heading" th:text="${errorMesSp}">Error</h6>
            </div>
        </div>


        <h1 style="margin-bottom: 20px; margin-top: 40px">Create an Optional Product</h1>
        <form method="post" th:action="@{/CreateOptionalProduct}">
            <div class="form-group" style="margin-bottom: 20px">
                <label for="opName">Package Name</label>
                <input class="form-control" id="opName" name="opName" placeholder="Enter product name" type="text">
            </div>
            <div class="form-group" style="margin-bottom: 20px">
                <label for="opMonthFee">Fee</label>
                <input class="form-control" id="opMonthFee" name="opMonthFee" placeholder="Enter fee" step="any"
                       type="number">
            </div>

            <button class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"
                    type="submit">Create Optional Product
            </button>
            <hr>
        </form>
        <div style="margin-top: 20px" th:unless="${errorMesOp == null }">
            <div class="alert alert-danger" role="alert">
                <h6 class="alert-heading" th:text="${errorMesOp}">Error</h6>
            </div>
        </div>

    </div>
</section>
</body>
</html>