<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/headerImport :: header"></div>
    <title>PoliComShop - Employee</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light"
     th:replace="fragments/navbar :: navbar">
</nav>
<div class="accordion" id="accordion">
    <div class="accordion-item" th:if="${numberPurchases.size() > 0}">
        <h2 class="accordion-header" id="headingNumberPurchases">
            <button aria-controls="collapseNumberForPackage" aria-expanded="true" class="accordion-button"
                    data-bs-target="#collapseNumberForPackage" data-bs-toggle="collapse" type="button">
                Purchases for Package
            </button>
        </h2>
        <div aria-labelledby="headingNumberPurchases" class="accordion-collapse collapse show"
             data-bs-parent="#accordion" id="collapseNumberForPackage">
            <div class="accordion-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Number</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row, rowStat : ${numberPurchases}">
                        <th scope="row" th:text="${rowStat.count}">1</th>
                        <td th:text="${row.key.getName()}">Mark</td>
                        <td th:text="${row.value}">Otto</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item" th:if="${numberPurchasesForValidityPeriod.size() > 0}">
        <h2 class="accordion-header" id="headingNumberPurchasesForValidityPeriod">
            <button aria-controls="collapseNumberPurchasesForValidityPeriod" aria-expanded="false"
                    class="accordion-button collapsed" data-bs-target="#collapseNumberPurchasesForValidityPeriod"
                    data-bs-toggle="collapse" type="button">
                Number purchases by validity period
            </button>
        </h2>
        <div aria-labelledby="headingNumberPurchasesForValidityPeriod" class="accordion-collapse collapse"
             data-bs-parent="#accordion" id="collapseNumberPurchasesForValidityPeriod">
            <div class="accordion-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Validity period</th>
                        <th scope="col">Number</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row, rowStat : ${numberPurchasesForValidityPeriod}">
                        <th scope="row" th:text="${rowStat.count}">1</th>
                        <td th:text="${row.key.getObject1().getName()}">Mark</td>
                        <td th:text="${row.key.getObject2()}">Mark</td>
                        <td th:text="${row.value}">Otto</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingAmountPurchases">
            <button aria-controls="collapseAmountPurchases" aria-expanded="false" class="accordion-button collapsed"
                    data-bs-target="#collapseAmountPurchases" data-bs-toggle="collapse" type="button">
                Total value of sales per package with and without the optional products
            </button>
        </h2>
        <div aria-labelledby="headingAmountPurchases" class="accordion-collapse collapse" data-bs-parent="#accordion"
             id="collapseAmountPurchases">
            <div class="accordion-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">With optional prods</th>
                        <th scope="col">Without optional prods</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row, rowStat : ${amountPurchases}">
                        <th scope="row" th:text="${rowStat.count}">1</th>
                        <td th:text="${row.key.getName()}">Mark</td>
                        <td th:text="${row.value.getObject1()}">Mark</td>
                        <td th:text="${row.value.getObject2()}">Otto</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="accordion" id="accordionAuditCustomer">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingAuditCustomer">
            <button aria-controls="collapseAuditCustomerOne" aria-expanded="true" class="accordion-button"
                    data-bs-target="#collapseAuditCustomerOne" data-bs-toggle="collapse" type="button">
                Insolvent users
            </button>
        </h2>
        <div aria-labelledby="headingAuditCustomer" class="accordion-collapse collapse show"
             data-bs-parent="#accordionAuditCustomer" id="collapseAuditCustomerOne">
            <div class="accordion-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">email</th>
                        <th scope="col">#Failed Payments</th>
                        <th scope="col">Date last rejection</th>
                        <th scope="col">Amount last rejection</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row, rowStat : ${auditCustomers}">
                        <th scope="row" th:text="${rowStat.count}">1</th>
                        <td th:text="${row.customer.username}">Mark</td>
                        <td th:text="${row.customer.email}">Mark</td>
                        <td th:text="${row.customer.numFailedPayments}">Otto</td>
                        <td th:text="${row.lastRejection}">Otto</td>
                        <td th:text="${row.amount}">Otto</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>