<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta tag required for boostrap -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>PoliComShop - Employee</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light"
     th:replace="fragments/navbar :: navbar">
</nav>

<h3>Sales report</h3>
<div class="accordion" id="accordion">
    <div class="accordion-item" th:if="${numberPurchases.size() > 0}">
        <h2 class="accordion-header" id="headingNumberPurchases">
            <button aria-controls="collapseNumberForPackage" class="accordion-button"
                    data-bs-target="#collapseNumberForPackage" data-bs-toggle="collapse" type="button">
                Purchases for Package
            </button>
        </h2>
        <div aria-labelledby="headingNumberPurchases" class="accordion-collapse collapse show"
             data-bs-parent="#accordion" id="collapseNumberForPackage">
            <div class="accordion-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Number</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row, rowStat : ${numberPurchases}">
                        <th scope="row" th:text="${rowStat.count}">1</th>
                        <td th:text="${row.key.getName()}">Mark</td>
                        <td th:text="${row.value}">Otto</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item" th:if="${numberPurchasesForValidityPeriod.size() > 0}">
        <h2 class="accordion-header" id="headingNumberPurchasesForValidityPeriod">
            <button aria-controls="collapseNumberPurchasesForValidityPeriod" aria-expanded="false"
                    class="accordion-button collapsed" data-bs-target="#collapseNumberPurchasesForValidityPeriod"
                    data-bs-toggle="collapse" type="button">
                Number purchases by validity period
            </button>
        </h2>
        <div aria-labelledby="headingNumberPurchasesForValidityPeriod" class="accordion-collapse collapse"
             data-bs-parent="#accordion" id="collapseNumberPurchasesForValidityPeriod">
            <div class="accordion-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Validity period</th>
                        <th scope="col">Number</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row, rowStat : ${numberPurchasesForValidityPeriod}">
                        <th scope="row" th:text="${rowStat.count}">1</th>
                        <td th:text="${row.key.getObject1().getName()}">Mark</td>
                        <td th:text="${row.key.getObject2()}">Mark</td>
                        <td th:text="${row.value}">Otto</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item" th:if="${amountPurchases.size() > 0}">
        <h2 class="accordion-header" id="headingAmountPurchases">
            <button aria-controls="collapseAmountPurchases" aria-expanded="false" class="accordion-button collapsed"
                    data-bs-target="#collapseAmountPurchases" data-bs-toggle="collapse" type="button">
                Total value of sales per package with and without the optional products
            </button>
        </h2>
        <div aria-labelledby="headingAmountPurchases" class="accordion-collapse collapse" data-bs-parent="#accordion"
             id="collapseAmountPurchases">
            <div class="accordion-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">With optional prods</th>
                        <th scope="col">Without optional prods</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row, rowStat : ${amountPurchases}">
                        <th scope="row" th:text="${rowStat.count}">1</th>
                        <td th:text="${row.key.getName()}">Mark</td>
                        <td th:text="${row.value.getObject1()}">Mark</td>
                        <td th:text="${row.value.getObject2()}">Otto</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item" th:if="${optionalProductNumberPurchases.size() > 0}">
        <h2 class="accordion-header" id="headingOptionalProductNumberPurchases">
            <button aria-controls="collapseOptionalProductNumberPurchases" aria-expanded="false"
                    class="accordion-button collapsed"
                    data-bs-target="#collapseOptionalProductNumberPurchases" data-bs-toggle="collapse" type="button">
                Optional products sales
            </button>
        </h2>
        <div aria-labelledby="headingOptionalProductNumberPurchases" class="accordion-collapse collapse"
             data-bs-parent="#accordion"
             id="collapseOptionalProductNumberPurchases">
            <div class="accordion-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Number purchases</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row, rowStat : ${optionalProductNumberPurchases}">
                        <th scope="row" th:text="${rowStat.count}">1</th>
                        <td th:text="${row.key.getName()}">Mark</td>
                        <td th:text="${row.value}">Mark</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item" th:if="${averageOptionalServicePackage.size() > 0}">
        <h2 class="accordion-header" id="headingAverageOptionalServicePackage">
            <button aria-controls="collapseAverageOptionalServicePackage" aria-expanded="false"
                    class="accordion-button collapsed"
                    data-bs-target="#collapseAverageOptionalServicePackage" data-bs-toggle="collapse" type="button">
                Optional products sales
            </button>
        </h2>
        <div aria-labelledby="headingAverageOptionalServicePackage" class="accordion-collapse collapse"
             data-bs-parent="#accordion"
             id="collapseAverageOptionalServicePackage">
            <div class="accordion-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Number purchases</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row, rowStat : ${averageOptionalServicePackage}">
                        <th scope="row" th:text="${rowStat.count}">1</th>
                        <td th:text="${row.getObject1().getName()}">Mark</td>
                        <td th:text="${row.getObject2()}">Mark</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<h3>Suspend Order</h3>
<div class="accordion" id="accordionSuspendedOrder" th:if="${suspendedOrder.size() > 0}">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSuspendedOrder">
            <button aria-controls="collapseSuspendedOrder" class="accordion-button"
                    data-bs-target="#collapseSuspendedOrder" data-bs-toggle="collapse" type="button">
                Suspended Orders
            </button>
        </h2>
        <div aria-labelledby="headingSuspendedOrder" class="accordion-collapse collapse show"
             data-bs-parent="#accordionSuspendedOrder" id="collapseSuspendedOrder">
            <div class="accordion-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Creation date</th>
                        <th scope="col">Activation date</th>
                        <th scope="col">Monthly fee</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="o, oStat : ${suspendedOrder}">
                        <th scope="row" th:text="${oStat.count}">1</th>
                        <td th:text="${o.customer.username}">Mark</td>
                        <td th:text="${o.creationDate}">Mark</td>
                        <td th:text="${o.activationDate}">Otto</td>
                        <td th:text="${o.totalMonthlyFee}">Otto</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-success" role="alert" th:unless="${suspendedOrder.size() > 0}">
    There are no suspended orders!
</div>

<h3>Insolvent users</h3>
<div class="accordion" id="accordionInsolventCustomer" th:if="${insolventCustomer.size() > 0}">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingInsolventCustomer">
            <button aria-controls="collapseInsolventCustomer" class="accordion-button"
                    data-bs-target="#collapseInsolventCustomer" data-bs-toggle="collapse" type="button">
                Insolvent users
            </button>
        </h2>
        <div aria-labelledby="headingInsolventCustomer" class="accordion-collapse collapse show"
             data-bs-parent="#accordionInsolventCustomer" id="collapseInsolventCustomer">
            <div class="accordion-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">#Failed payments</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="o, oStat : ${insolventCustomer}">
                        <th scope="row" th:text="${oStat.count}">1</th>
                        <td th:text="${o.username}">Mark</td>
                        <td th:text="${o.email}">Mark</td>
                        <td th:text="${o.numFailedPayments}">Otto</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-success" role="alert" th:unless="${insolventCustomer.size() > 0}">
    There are no insolvent customers!
</div>

<h3>Customer audits</h3>
<div class="accordion" id="accordionAuditCustomer" th:if="${auditCustomers.size() > 0}">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingAuditCustomer">
            <button aria-controls="collapseAuditCustomerOne" class="accordion-button"
                    data-bs-target="#collapseAuditCustomerOne" data-bs-toggle="collapse" type="button">
                Insolvent users
            </button>
        </h2>
        <div aria-labelledby="headingAuditCustomer" class="accordion-collapse collapse show"
             data-bs-parent="#accordionAuditCustomer" id="collapseAuditCustomerOne">
            <div class="accordion-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">email</th>
                        <th scope="col">#Failed Payments</th>
                        <th scope="col">Date rejection</th>
                        <th scope="col">Amount rejection</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="a, aStat : ${auditCustomers}">
                        <th scope="row" th:text="${aStat.count}">1</th>
                        <td th:text="${a.customer.username}">Mark</td>
                        <td th:text="${a.customer.email}">Mark</td>
                        <td th:text="${a.customer.numFailedPayments}">Otto</td>
                        <td th:text="${a.lastRejection}">Otto</td>
                        <td th:text="${a.amount}">Otto</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-success" role="alert" th:unless="${auditCustomers.size() > 0}">
    There are no audit!
</div>

</body>
</html>